.text-center {
  text-align: center;
}

.items-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inline {
  display: flex;
}

.w-500 {
  max-width: 500px;
}

.mt-50 {
  margin-top: 50px;
}
