.text-center {
  text-align: center;
}

.items-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inline {
  display: flex;
}

.w-500 {
  max-width: 500px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.color-white {
  color: #fff;
}

.font-weight-600 {
  font-weight: 600;
}
